.filter_inp {
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    width: 200px;
   height: 25px;
   padding-left: 10px;
   }

.filter_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(74, 236, 182);
    padding-bottom: 30px;
    border-radius: 10px;
    border: 0.5px solid gray;
}

.filter_cont_text {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}