.home_cont {
    margin-top: 200px;
    text-align: center;
    font-size: 20px;
}

.home_title {
font-family: 'Times New Roman', Times, serif;
}

.home_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

